<%- include ("../partials/header") %>

<div class="row">
    <div class="col-md-4">
        <h1><%= user.firstName  + " " + user.lastName %></h1>
        <div class="thumbnail">
            <img src="<%= user.avatar %>" alt="User profile image">
            <div class="caption"><a href="mailto:<%= user.email %>"><%= user.email %></a></div>
        </div>
        It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. 
        It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. 
        
    </div>
    <div class="col-md-8">
        <h3><%= user.username %>'s campgrounds:</h3>
        <ul>
        <% campgrounds.forEach(campground => { %>
           <li><a href="/campgrounds/<%= campground.id %>"><%= campground.name %></a></li> 
        <% }); %>

         </ul>
         
    </div>
</div>

<%- include ("../partials/footer") %>